<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Convolutional Neural Networks</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>

<body>
        <div class="centered">
		<h3>Digit Recognizer using Convolutional Neural Networks</h3>
        </div>

		<div class="centered">
			<canvas id="canvas" width="280" height="280"></canvas>
		</div>

		<div class="centered">
			<input type="button" class="btn btn-success" id="myButton" value="Predict" style="">
			<input type="button" class="btn btn-warning" id="clearButton" value="Clear" style="">
		</div>

		<div class="centered">
			<h1 id="output"></h1>
		</div>

		
  		<script src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}"></script>
	    <script src="{{url_for('static',filename='js/index.js')}}"></script>
        <script type="text/javascript">
            $("#myButton").click(function () {
                $("#output").text('Predicting....');
                var $root = {{ request.script_root|tojson|safe}};
                var canvasObj = document.getElementById("canvas");
                var img = canvasObj.toDataURL('image/png');
                $.ajax({
                    type: "POST",
                    url: $root+"/predict/",
                    data: img,
                    sucsess: function (data) {
                        $("#output").text("Predicted Output: "+data);
                    }
                });
            });

            $("#clearButton").click(function () {
                $("#output").text("");
            });
        </script>

</body>
</html>
